---
import HtmlIcon from '../components/icons/HtmlIcon.astro'
import CssIcon from '../components/icons/CssIcon.astro'
import JSIcon from '../components/icons/JSIcon.astro'
import {Chip} from "@nextui-org/react";
import SassIcon from './icons/SassIcon.astro';
import TailIcon from './icons/TailIcon.astro';
import AngularIcon from './icons/AngularIcon.astro';
import NodeIcon from './icons/NodeIcon.astro';
import MongoIcon from './icons/MongoIcon.astro';
import StrapiIcon from './icons/StrapiIcon.astro';
import ExpressIcon from './icons/ExpressIcon.astro';
import AWSIcon from './icons/AWSIcon.astro'
import PostmanIcon from './icons/PostmanIcon.astro';
import Loading from './Loading.astro'
import { transitionEnabledOnThisPage } from 'astro:transitions/client';

import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";


const TAGS ={
    HTML: {
        name: "HTML5",
        class: "bg-zinc-700 text-white",
        icon: HtmlIcon
    },
    CSS: {
        name: "CSS3",
        class: "bg-blue-800 text-white",
        icon: CssIcon
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-yellow-700 text-white",
        icon: JSIcon
    },
    SASS: {
        name: "SASS",
        class: "bg-pink-800 text-white",
        icon: SassIcon
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-cyan-900 text-white",
        icon: TailIcon
    },
    ANGULAR: {
        name: "Angular",
        class: "bg-purple-800 text-white",
        icon: AngularIcon
    },
    NODEJS: {
        name: "Node.js",
        class: "bg-green-900 text-white",
        icon: NodeIcon
    },
    MONGO: {
        name: "MongoDB",
        class: "bg-green-800 text-white",
        icon: MongoIcon
    },
    STRAPI: {
        name: "Strapi",
        class: "bg-blue-800 text-white",
        icon: StrapiIcon
    },
    EXPRESS:{
        name: "Express",
        class: "bg-zinc-700 text-white",
        icon: ExpressIcon
    },
    AWS:{
        name: "Amazon Web Service",
        class: "bg-yellow-800 text-white",
        icon: AWSIcon
    },
    POSTMAN:{
        name: "Postman",
        class: "bg-red-700 text-white",
        icon: PostmanIcon
    },
}

const PROJECTS = [
    {
        title: "FORELSKET-MB eCommerce ",
        description: t("PROJ.first.desc"),
        link: "",
        github: "https://github.com/JulianBerardinelli/",
        image: "/projects/projectFOREL.webp", 
        tags: [TAGS.ANGULAR, TAGS.STRAPI,TAGS.MONGO,TAGS.NODEJS,TAGS.EXPRESS,TAGS.TAILWIND,TAGS.POSTMAN ,TAGS.AWS ],
    },
    {
        title: "KYC Media Official WebSite",
        description: t("PROJ.second.desc"),
        link: "https://kycmedia.agency/",
        github: "https://github.com/JulianBerardinelli/Kyc-MarketingSolutionsPage",
        image:"/projects/projectKYC.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS ,TAGS.JAVASCRIPT],
    },
    {
        title: "Hertha Junior - Official Website",
        description: t("PROJ.third.desc"),
        link: "https://herthajunior.vercel.app/",
        github: "https://github.com/JulianBerardinelli/Hertha.jr-page.io",
        image: "/projects/projectHERTHA.webp", 
        tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.TAILWIND ,TAGS.JAVASCRIPT],
    },
];


---

{
    PROJECTS.map(({ title, description, tags, image, github, link }) => (
        <article>
            <h3 class=" text-lg lg:text-2xl font-semibold mb-2 pt-5 text-blue-200">
                {title}
                {title === 'FORELSKET-MB eCommerce ' && <Loading />}
                </h3>
            <p class="text-sm lg:text-lg mb-4 text-pretty opacity-70">{description}</p>
            <ul class="flex flex-row gap-x-4 gap-y-2 mb-6 flex-wrap">
                {tags.map((tag)=>(
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs  ${tag.class} py-1 px-3`}>
                            <tag.icon class="size-4" />
                        {tag.name}
                        </span>
                        </li>
                ))}
            </ul>
            <img class="rounded shadow-black/10 mb-10" src={image} alt={`Screenshot - ${image}`} /> 
        </article>
    ))
}
